/* FICHIER DEPLACE / DEPRECIE
   Les variables sont maintenant séparées en:
   - variables.global.css
   - variables.portfolio.css
   - variables.blog.css
   - variables.projects.css
   Ce fichier peut être supprimé après mise à jour des imports. */

/* (Optionnel) Imports de compatibilité temporaire */
@import url('../variables.global.css');
@import url('../variables.portfolio.css');
@import url('../variables.blog.css');
@import url('../variables.projects.css');
