/* Test CSS pour notifications dropdown */
.notifications-dropdown.active {
  display: block !important;
  position: fixed !important;
  top: 100px !important;
  right: 100px !important;
  width: 300px !important;
  height: 200px !important;
  background: red !important;
  z-index: 9999 !important;
  border: 5px solid blue !important;
}

.language-dropdown.active {
  display: block !important;
  position: fixed !important;
  top: 100px !important;
  right: 450px !important;
  width: 200px !important;
  height: 150px !important;
  background: green !important;
  z-index: 9999 !important;
  border: 5px solid orange !important;
}
